---
import type { BlogPost } from "../../types/blog-post";
import BlogPostListItemInfoBar from "./BlogPostListItemInfoBar.astro";

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
---

<article class="py-4 sm:py-5">
  <h3 class="text-h3">
    <a href={post.url}>
      {post.frontmatter.title}
    </a>
  </h3>

  <BlogPostListItemInfoBar post={post.frontmatter} />

  <p class="my-5 text-body">{post.frontmatter.excerpt}</p>

  <a href={post.url} class="border-b border-text px-2.5 text-link">
    Read full blog post &#x3e;&#x3e;
  </a>
</article>
